{% extends "@app/views/layouts/layout.twig" %}

{% block content %}

	<div  class="sales col-md-9">
	<p><a id="informe_sales">Каталог</a></p>
	{% for catalog in catalog %}
	<div style="background: url(/basic/web/img/{{ catalog.picture }}.png) no-repeat;" class="sales3 col-md-4">
		<div class="price3"><p> {{catalog.price}} </p></div>
		<div id="opisanie3"><a href="{{ url('product/viewproduct', {'id' : catalog.id}) }}">{{ catalog.name }}</a></div>
	</div>
	{% endfor %}

	{{ link_pager_widget({'pagination': pagination}) }}

	</div>


{% endblock %}